@import url(null.scss);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

/*
font-family: 'Montserrat', sans-serif;
*/

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}