@import url(null.scss);
@import url(main.scss);
@import url(header.scss);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

/*
font-family: 'Montserrat', sans-serif;
*/

html{
    scroll-behavior: smooth;
}

body{overflow-x: hidden;}

.wrapper{
    overflow-x: hidden;

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;

    //background: #E5E5E5;
    background-color: black;

    min-height: 100%;
}

.content{
    max-width: 1312px;
    padding: 0 25px;
    margin: 0 auto;
}

h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}